@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.current-city-weather {
    &__details-wrapper {
        display: flex;
        flex-direction: row;
        padding: 0 0 10px 0;
    }

    &__label {
        flex: 0 0 50%;

        font-weight: bold;
    }

    &__value {
        flex: 0 0 50%;
    }

    &__header {
        display: flex;
        padding: 0 0 20px 0;
        align-items: center;
    }

        &__city-name {
            padding: 0 20px 0 0;

            font-size: 25px;
            font-weight: bold;
        }

        &__icon {
            height: 50px;
            width: 50px;
        }
}